#Any line started with a '#' or '//' is ignored.
#If it is desired, multiple files for configurations can be used.
#Also, inside the configs folder it's possible to have multiple sub-folders, with each folder representing a different client configuration.

#server structure
#ip = localhost:5432
ip = dahu-1:5432

#tests
scale = 1
#folder with the table data
folder = /go/data/

#behaviour
doDataload = false
doViewload = true
doQueries = true
doUpdates = true
nUpdateFiles = 1000
startUpdFile = 1
finishUpdateFile = 1000
updRate = 0
tpchAddRate = 0.5
latencyMode = PER_BATCH
batchMode = SINGLE

#queries
queryPrint = false
queryClients = 1
#milliseconds
queryDuration = 40000
queryWait = 300000
queries = 3 5 11 14 15 18
nReadsTxn = 1

#Stats
id = 0
statisticsInterval = 5000
statsLocation = /go/results/1SF/Postgres/automated/
